.Space {
    text-align: center;
}

input[type="radio"] {
    margin-right: 0.5em;
  }

.Space label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10%; /* Adjust as needed */
}