.App {
  text-align: center;
  display: center;
}
.Home {
  text-align: center;
  display: center;
  margin-bottom: 20%;
}
.Basic {
  text-align: center;
  display: center;
}
.Detail {
  text-align: center;
  display: center;
}
.Results{
  display: none;
  visibility: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 400%;
  color: rgb(216, 41, 41);
  margin-top: -20%;
}

.Description {
  margin-top: -20%;
  font-size: 200%;
  color: rgb(17, 2, 2);
  margin-bottom: 10%;
}

.App-rect1 {
  width: 49%;
  background-color: white;
  font-size: 130%;
  float: left; 
  color: rgb(216, 41, 41);
  font-weight: bold;
  }

  .App-rect1 p {
    margin-top: 5%;
    display: block;
    font-weight: normal;
    color: rgb(17, 2, 2);
  }

  .App-rect2 {
    width: 49%;
    background-color:white;
    font-size: 130%;
    float: right; 
    color: black;
    font-weight: bold;
    color: rgb(216, 41, 41);
  }

  .App-rect2 p {
    margin-top: 5%;
    display: block;
    font-weight: normal;
    color: rgb(17, 2, 2);
  }

  .Home-footer{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    color: rgb(17, 2, 2);
    margin-bottom: 1%;
  }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lightButton {
  height: 100px;
  width: 150px;
}