
.App {
  text-align: center;
  display: center;
  background-color: transparent;}
.Home {
  text-align: center;
  display: center;
  margin-left: 5%;
  margin-right: 5%;
  background-color: transparent;
  font-family: 'MyFont', sans-serif; 

}

  
.Basic {
  text-align: center;
  display: center;
  margin-left: 10%;
  margin-right: 10%;
  background-color:transparent;
}
.Detail {
  text-align: center;
  display: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4%
  
}
.API {
  text-align: center;
  display: center;
  margin-left: 10%;
  margin-right: 10%;
  background-color: transparent;
}

.moreBasic {
  text-align: center;
  display: center;
  margin-left: 10%;
  margin-right: 10%;
  background-color: transparent;
}


.Results{
  text-align: center;
  display: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4%
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@font-face { 
  font-family: 'MyFont'; 
  src: url('MADE Gentle PERSONAL USE.otf') format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
} 

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: transparent;}

.Home-header {
  background-color: transparent;  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 350%;
  color: rgb(12, 128, 173);
  margin-top: -20%;
  margin-left:18%;
  margin-right: 18%;
  margin-bottom: -20%;
  
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3%;
  margin-bottom: 3%;
  font-family: 'MyFont', sans-serif; 

}

.Description {
  margin-top: -20%;
  font-size: 140%;
  color: rgb(17, 2, 2);
  margin-bottom: 10%;
  background-color: transparent;  margin-left: 10%;
  margin-right: 10%;
  font-weight: bold;
}

.App-rect1 {
  width: 49%;
  font-size: 130%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  color: rgb(12, 128, 173);
  background-color: rgba(12, 128, 173, 0.5);  
  font-weight: bold;
  margin-bottom: 10%;
  margin-left: 50%;
  border-radius: 5%;
  padding: 2%

}

.App-rect1 p {
  margin-top: 5%;
  display: block;
  font-weight: normal;
  color: rgb(17, 2, 2);
}

.App-rect2 {
  width: 49%;
  font-size: 130%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: rgb(12, 128, 173);
  background-color: transparent;
  padding: 2%

}

.App-rect2 p {
  margin-top: 5%;
  display: block;
  font-weight: normal;
  color: rgb(17, 2, 2);
  background-color: transparent;}

.Home-footer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40%;
  font-family: 'MyFont', sans-serif; 
}

  .App-rect2 {
    width: 49%;
    font-size: 130%;
    float: right; 
    color: black;
    font-weight: bold;
    color: rgb(69, 158, 155);
    background-color: rgba(69, 158, 155, 0.5);  
    border-radius: 5%;
    border-color: black;
  
  }

  .App-rect2 p {
    margin-top: 5%;
    display: block;
    font-weight: normal;
    color: rgb(17, 2, 2);
    background-color: transparent;  }

  .Home-footer{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    color: rgb(17, 2, 2);
    margin-bottom: 1%;
    background-color: transparent;  
  }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lightButton {
  height: 100px;
  width: 150px;
}
.Submit-Button {
  margin-bottom: 5%;
  margin-left: 1%;
}

.Bold {
  font-weight: bold;
  font-size: 150%;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7%;
  height: 7%;
  margin-top: -4%;
  margin-bottom: 5%;
  background-color:transparent;

}
.Space{
  margin-bottom: 2%;
  background-color: transparent;
}

.homeButton {
  margin-top: 2%;
  margin-left: 1%;
  background-color: transparent;

}

.Space .form-check input[type="radio"] {
  float: none;
  clear: none;
  margin-right: 1%;
}

.background {
  background-color: rgb(232, 232, 232);
  background-size: cover;
  position: relative;
  z-index: 1;
}
.chatResults {
  align-items: center;
}
.chatResultsfinal {
  align-items: center;
  margin-bottom: 30%;
}
.API-Key{
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'MyFont', sans-serif; 

}
.diffHeader{
  position: relative;
  background-color: rgb(143, 143, 143);
  z-index:2;
}
.loadingGif {
  margin-top: -10%;
}
.Pic{
  height: 32%;
  width: 32%;
  display:flex;
  margin-bottom: -32%;
}
.Pic2{
  height: 32%;
  width: 32%;
  display:flex;
  margin-bottom: -34%;
}
.row {
  margin-left: 70%;
}
.yo {
  height:20%;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  display: block;
  justify-content: center;
  align-items: center;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: rgb(143, 143, 143) !important;
  border: transparent !important;
}
